<h2>Your Games</h2>

<% @user.games.each do |game| %>
  <h3><%= game.name %></h3>
  <p>Genre: <%= game.genre %></p>
  <p>System: <%= game.system %></p>
  <p><%= game.reason %></p>
<% end %>

<a href="/logout">Logout</a>