<h2>Sign Up</h2>

<% if flash.has?(:taken) %>
  <p><%= flash[:taken] %></p>
<% end %>
</br>

<% if flash.has?(:fill_in) %>
  <p><%= flash[:fill_in] %></p>
<% end %>

<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input id="username" type="text" name="username">
  
  <label for="email">Email:</label>
  <input id="email" type="text" name="email">

  <label for="password">Password:</label>
  <input id="password" type="password" name="password">

  <input id="submit" type="submit" value="Sign Up">
</form>
<br>
<p>Or <a href="/login">Login</a></p>