<h3>Sign Up</h3>

<% if flash.has?(:taken) %>
  <%= flash[:taken] %>
<% end %>

<% if flash.has?(:fill_in) %>
  <%= flash[:fill_in] %>
<% end %>

<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input id="username" type="text" name="username">
  
  <label for="email">Email:</label>
  <input id="email" type="text" name="email">

  <label for="password">Password:</label>
  <input id="password" type="password" name="password">

  <input id="submit" type="submit" value="Sign Up">
</form>