<h2>Add a New Game to Your Collection</h2>

<form action="/games" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name"><br>
  
  <label for="genre">Genre:</label>
  <input id="genre" type="text" name="genre"><br>

  <label for="system">System:</label>
  <input id="system" type="text" name="system"><br>

  <label for="reason">Reason:</label>
  <input id="reason" type="text" name="reason"><br>

  <input id="submit" type="submit" value="Add Game">
</form>