<div class="container">
  <header>
    <h1>Game Central</h1>
  </header>
  <div class="col-md-8 col-md-offset-2">
  <h2>Games from past to present</h2>

    <div class="content">
      <p>Welcome to Game Central, a place where you can document and list your favorite games from past to present.</p>
      <p>Please login or sign up, if you are new.</p>
      <p><a href="/login">Login</a></p>
      <p><a href="/signup">Signup</a></p>
    </div>
    <br>
    <br>
    <br>

  </div>
</div>
